@import "tailwindcss";

:root{
  --main-body-bg: var(--color-zinc-100);
  --main-comp-bg: white;
  --main-btn-eff: var(--color-zinc-50);
}

body{
  margin: 0px;
  padding: 0px;
  background-color: var(--main-body-bg);
  font-family: "Noto Sans Ethiopic", sans-serif;
}

.main-theme{
  background-color: var(--main-comp-bg);
  @apply rounded-lg shadow-xs;
}
.main-btn:hover{
  background-color: var(--main-btn-eff);
  cursor:pointer;
}
.dark{
  --main-body-bg: var(--color-zinc-900);
  --main-comp-bg: var(--color-zinc-950);
  --main-btn-eff: var(--color-zinc-800);
}

.dark > *{
    @apply text-white;
}

button{
  @apply text-lg md:text-2xl;
}